<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Recipe App | Add New Recipe</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Email Messaging Site">
  <meta name="keywords" content="recipe, meals, snacks, ejs">
  <meta name="author" content="Victor CHINEWUBEZE">
  <link rel="stylesheet" type="text/css" media="screen" href="../UI/css/styles.css" />
  <link rel="shortcut icon" type="image/x-icon" href="../UI/img/smiley.png">
</head>

<body>
  <header>
    <div class="container">
      <div id="appName">
        <span class="open-slide">
          <a href="#" onclick="openSlideMenu()">
            <svg width="30" height="30">
              <path d="M0,5 30,5" stroke="#fff" stroke-width="5" />
              <path d="M0,14 30,14" stroke="#fff" stroke-width="5" />
              <path d="M0,23 30,23" stroke="#fff" stroke-width="5" />
            </svg>
          </a>

        </span>
        <h1 id="epic"><a href="/"><span class="highlight">Recipe </span>App</a></h1>
      </div>
      <nav>
        <ul>
          <a href="/">
            <li>Home</li>
          </a>
          <a href="/addrecipe">
            <li class="current">Add Recipe</li>
          </a>
          <a href="/search">
            <li>Search for Recipes</li>
          </a>
          <a href="/allrecipes">
            <li>View All Recipes</li>
          </a>
        </ul>
      </nav>
    </div>
  </header>

  <div id="headerSpace"></div>

  <section id="index-side-bar">
    <aside class="side-bar" id="side-bar">
      <ul>
        <a href="#" class="close-btn" onclick="closeSlideMenu()">&times;</a>
        <a href="/">
          <li>Home</li>
        </a>
        <a href="/addrecipe">
          <li class="current">Add Recipe</li>
        </a>
        <a href="/search">
          <li>Search for Recipes</li>
        </a>
        <a href="/allrecipes">
          <li>View All Recipes</li>
        </a>
      </ul>
    </aside>
  </section>

  <section class="container">
    <h2 class="highlight">Add New Recipe </h2>

    <div class="formBox">
      <form class="container" action="/addrecipe" method="POST">
        <p class="inputBox">
          <input type="text" name="name" id="name" required>
          <label for="name">Name:</label>
        </p>
        <p class="inputBox">
          <textarea name="ingredients" id="ingredients" placeholder="Ingredients..." required></textarea>
        </p>
        <p class="inputBox">
          <textarea name="directions" id="directions" placeholder="Directions..." required></textarea>
        </p>
        <button type="submit">Add Recipe</button>
      </form>
    </div>

    <div id="single-result">
      <p>
        <h3><%= recipe.name %> </h3>
        <hr />
        <b>Ingredients </b><br />
        <%= recipe.ingredients %><br /><br />
        <b>Directions </b><br />
        <%= recipe.directions %> <br />
      </p>
      <a href="#update">
        <!--Update only works for now if there is no line-break added when entering values -->
        <button class="small-button"
          onclick="updateData(<%= recipe.id %>, '<%= recipe.name %>', '<%= recipe.ingredients %>', '<%= recipe.directions %>')">Update</button></a>
      <button class="small-button" onclick="deleteData(<%= recipe.id %>)">Delete</button>
    </div>
  </section>

  <div class="modal" id="update">
    <div class="modal-contents">
      <form class="container" action="/update" method="POST">
        <a href="#" class="close-btn"">&times;</a>
        <br /> <br />

        <input type="hidden" name="id" id="modal-id" required>

          <p class="inputBox">
            <input type="text" name="name" id="modal-name" required>
            <label for="name">Name:</label>
          </p>
          <p class="inputBox">
            <textarea name="ingredients" id="modal-ingredients" placeholder="Ingredients..." required></textarea>
          </p>
          <p class="inputBox">
            <textarea name="directions" id="modal-directions" placeholder="Directions..." required></textarea>
          </p>
          <button type="submit">Update</button>
      </form>
    </div>
  </div>

  <div id="headerSpace"></div>
  <footer>Recipe App, Copyright &copy; 2019</footer>
  <script src="../UI/js/main.js"></script>
</body>

</html>